In [1]:
import pandas as pd

In [3]:
data = pd.read_json("data.json")
data

,users,pages
0,"{'id': 1, 'name': 'Amit', 'friends': [2, 3], '...","{'id': 101, 'name': 'Python Developers'}"
1,"{'id': 2, 'name': 'Priya', 'friends': [1, 4], ...","{'id': 102, 'name': 'Data Science Enthusiasts'}"
2,"{'id': 3, 'name': 'Rahul', 'friends': [1], 'li...","{'id': 103, 'name': 'AI & ML Community'}"
3,"{'id': 4, 'name': 'Sara', 'friends': [2], 'lik...","{'id': 104, 'name': 'Web Dev Hub'}"

In [4]:
users_df = data["users"]
users_df

0    {'id': 1, 'name': 'Amit', 'friends': [2, 3], '...
1    {'id': 2, 'name': 'Priya', 'friends': [1, 4], ...
2    {'id': 3, 'name': 'Rahul', 'friends': [1], 'li...
3    {'id': 4, 'name': 'Sara', 'friends': [2], 'lik...
Name: users, dtype: object

In [6]:
users = pd.DataFrame(users_df.tolist())
users

   id   name friends liked_pages
0   1   Amit  [2, 3]       [101]
1   2  Priya  [1, 4]       [102]
2   3  Rahul     [1]  [101, 103]
3   4   Sara     [2]       [104]

In [7]:
pages_df = data["pages"]
pages_df

0           {'id': 101, 'name': 'Python Developers'}
1    {'id': 102, 'name': 'Data Science Enthusiasts'}
2           {'id': 103, 'name': 'AI & ML Community'}
3                 {'id': 104, 'name': 'Web Dev Hub'}
Name: pages, dtype: object

In [9]:
pages = pd.DataFrame(pages_df.tolist())
pages

    id                      name
0  101         Python Developers
1  102  Data Science Enthusiasts
2  103         AI & ML Community
3  104               Web Dev Hub

Identifying users with empty names

In [10]:
(users["name"] == '').any()

np.False_

In [11]:
(users["name"] == '').sum()

np.int64(0)

To find inactive users

In [18]:
(users["friends"].str.len() == 0).any() & (users["liked_pages"].str.len() == 0).any()

np.False_

In [21]:
(users["friends"]).duplicated() & (users["liked_pages"]).duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [22]:
cleaned_data = {
    "users": users.to_dict(orient="records"),
    "pages": pages.to_dict(orient="records")
}

with open("cleaned_data_pandas.json", "w") as f:
    json.dump(cleaned_data, f, indent=4)
#since no null and duplicate data are available so save this data as cleaned data