In [3]:
import pandas as pd

In [4]:
data = pd.read_json("data.json")
data

,users,pages
0,"{'id': 1, 'name': 'Amit', 'friends': [2, 3], '...","{'id': 101, 'name': 'Python Developers'}"
1,"{'id': 2, 'name': 'Priya', 'friends': [1, 4], ...","{'id': 102, 'name': 'Data Science Enthusiasts'}"
2,"{'id': 3, 'name': 'Rahul', 'friends': [1], 'li...","{'id': 103, 'name': 'AI & ML Community'}"
3,"{'id': 4, 'name': 'Sara', 'friends': [2], 'lik...","{'id': 104, 'name': 'Web Dev Hub'}"

In [13]:
type(data)

pandas.core.frame.DataFrame

In [14]:
print(data.keys())

Index(['users', 'pages'], dtype='object')

In [6]:
users_df = data["users"]
users_df

0    {'id': 1, 'name': 'Amit', 'friends': [2, 3], '...
1    {'id': 2, 'name': 'Priya', 'friends': [1, 4], ...
2    {'id': 3, 'name': 'Rahul', 'friends': [1], 'li...
3    {'id': 4, 'name': 'Sara', 'friends': [2], 'lik...
Name: users, dtype: object

In [7]:
pages_df = data["pages"]
pages_df

0           {'id': 101, 'name': 'Python Developers'}
1    {'id': 102, 'name': 'Data Science Enthusiasts'}
2           {'id': 103, 'name': 'AI & ML Community'}
3                 {'id': 104, 'name': 'Web Dev Hub'}
Name: pages, dtype: object

In [8]:
users_df.head()

0    {'id': 1, 'name': 'Amit', 'friends': [2, 3], '...
1    {'id': 2, 'name': 'Priya', 'friends': [1, 4], ...
2    {'id': 3, 'name': 'Rahul', 'friends': [1], 'li...
3    {'id': 4, 'name': 'Sara', 'friends': [2], 'lik...
Name: users, dtype: object

In [11]:
users_df.shape

(4,)

In [9]:
pages_df.head()

0           {'id': 101, 'name': 'Python Developers'}
1    {'id': 102, 'name': 'Data Science Enthusiasts'}
2           {'id': 103, 'name': 'AI & ML Community'}
3                 {'id': 104, 'name': 'Web Dev Hub'}
Name: pages, dtype: object

In [12]:
pages_df.shape

(4,)

In [18]:
users_only = data["users"]
users_only

0    {'id': 1, 'name': 'Amit', 'friends': [2, 3], '...
1    {'id': 2, 'name': 'Priya', 'friends': [1, 4], ...
2    {'id': 3, 'name': 'Rahul', 'friends': [1], 'li...
3    {'id': 4, 'name': 'Sara', 'friends': [2], 'lik...
Name: users, dtype: object

In [33]:
users = pd.DataFrame(users_only.tolist())
users

   id   name friends liked_pages
0   1   Amit  [2, 3]       [101]
1   2  Priya  [1, 4]       [102]
2   3  Rahul     [1]  [101, 103]
3   4   Sara     [2]       [104]

In [30]:
pages_only = data["pages"]
pages_only

0           {'id': 101, 'name': 'Python Developers'}
1    {'id': 102, 'name': 'Data Science Enthusiasts'}
2           {'id': 103, 'name': 'AI & ML Community'}
3                 {'id': 104, 'name': 'Web Dev Hub'}
Name: pages, dtype: object

In [32]:
pages = pd.DataFrame(pages_only.tolist())
pages

    id                      name
0  101         Python Developers
1  102  Data Science Enthusiasts
2  103         AI & ML Community
3  104               Web Dev Hub

In [34]:
users.shape

(4, 4)

In [35]:
users.columns

Index(['id', 'name', 'friends', 'liked_pages'], dtype='object')

UNDERSTANDING THE DATA

In [36]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4 non-null      int64
 1   name         4 non-null      object
 2   friends      4 non-null      object
 3   liked_pages  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 260.0+ bytes

In [37]:
users.isnull().sum()

id             0
name           0
friends        0
liked_pages    0
dtype: int64

In [39]:
users.dtypes

id              int64
name           object
friends        object
liked_pages    object
dtype: object